button,
.button {
  @include transition();
  display: inline-block;
  padding: 16px 28px;
  font-size: 17px;
  line-height: 1;
  text-decoration: none;
  color: $color--white;
  border-radius: $radius--md;
  border: 1px solid $color--brand--primary;
  background-color: $color--brand--primary;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: $color--text--disabled;
    border-color: $color--bg--disabled;
    background-color: $color--bg--disabled;
  }
}

.button--outline {
  @include transition();
  display: block;
  padding: 14px 22px;
  font-weight: $weight--sans--bold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $spacing--wide;
  color: $color--brand--primary;
  border-radius: $radius--md;
  border: 1px solid $color--brand--primary;
  background-color: transparent;
}

.button--add {
  position: relative;
  padding-right: 42px;
  text-align: left;

  &:after {
    content: '+';
    position: absolute;
    right: 22px;
  }
}

// Text-only buttons
.text-button {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: $spacing--wide;
  text-decoration: none;
  color: $color--brand--primary;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: $color--text--disabled;
  }
}
