.app-section-3 {
  padding-top: 50px;
}
.rc-tabs-top {
  .rc-tabs-nav {
    border: 2px solid #efefef;
    overflow: hidden;
    border-radius: 100px;
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    > div {
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        width: 100%;
        left: 0;
        background-color: #efefef;
      }
    }
  }
  .rc-tabs-bar {
    border: none;
  }
  .rc-tabs-tab {
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    &:hover {
      color: $color--fire;
    }
    &-active {
      z-index: 10;
      color: #ffffff;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .rc-tabs-ink-bar {
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $color--fire;
    z-index: 9;
  }
}

.rc-tabs-tabpane {
  padding: 30px 0;
}
