@import "../../assets/style/base/vars";
@import "../../assets/style/base/utils-flex";
@import "../../assets/style/base/utils-media";
@import "../../assets/style/base/utils";
@import "../../assets/style/components/app-mixins";

.nav {
  margin-bottom: 15px;
  text-align: center;
}

.dot {
  color: black;
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  margin: 0 15px;
  opacity: 0.4;
  text-shadow: none;
  transition: opacity 1s ease, text-shadow 1s ease;
  will-change: opacity, text-shadow;
}

.active {
  color: var(--blue);
  opacity: 1;
  text-shadow: 0 0px 8px;
}

.app-back--button {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color--brand--primary;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  display: none;

  @include breakpoint(sm) {
    display: flex;
  }

  span {
    vertical-align: middle;
  }

  .btn-icon {
    margin-right: 12px;
  }
}
.app-progress-bar {
  @include shadow--block;
  overflow: hidden;
  margin-bottom: $spacing--vert--lg;
  border-radius: $radius--md;
  background-color: $color--white;
  width: 100%;
  position: relative;
  display: none;

  @include breakpoint(sm) {
    display: block;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: $weight--sans--bold;
    font-size: 13px;
    line-height: 1;
    letter-spacing: $spacing--relaxed;
    li {
      @include flex(1, 1, 33.3333%);
      position: relative;
      text-align: center;

      button {
        display: block;
        padding: $spacing--vert--sm 0;
        border-radius: 0;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        color: $color--gray;
        background-color: transparent;
        &.disabled {
          color: #d8d8d8;
        }
      }

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        width: 0;
        height: 0;
        border-top: 31px solid transparent;
        border-bottom: 31px solid transparent;
      }

      &:before {
        right: -24px;
        border-left: 22px solid $color--trim;
      }

      &:after {
        right: -22px;
        border-left: 22px solid $color--white;
      }

      &:last-child {
        &:before,
        &:after {
          display: none;
        }
      }

      &.active {
        @include set-progress-active-state;
      }
    }
  }
}
