// Show panels based on current app-progress data attribute value
.app-section {
  //display: none;
  &.app-section--on {
    display: block;
  }
}
.app-loader {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 200;

  .app-is--loading & {
    display: flex;
  }
}

// Loading styles
.app-loading-container {
  @include transition();
  text-align: center;

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: $color--brand--primary;
  }
}
